.newscard{
	margin: 20px 0px;
	width: 400px;
	height: auto;
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.6);
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.6);
	cursor: pointer;
	position: relative;
}

.newscard__save{
	position: absolute;
	top: 15px;
	right: 15px;
	background-color: white;
	padding: 7px;
	border-radius: 8px;
	opacity: 0.8;
}

.newscard__save:hover{
	opacity: 1;
}

.newscard__img{
	width: 100%;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}

.newscard__text-wrapper{
	padding: 20px;
}

.newscard__date{
	font-size: 18px;
	color: #B6BCBF;
}

.newscard__title{
	font-size: 26px;
	padding: 15px 0px;
	font-weight: 400;
}

.newscard__text{
	font-size: 16px;
}

.newscard__author{
	padding-top: 15px;
	font-size: 16px;
	color: #B6BCBF;
}

