.header{
	padding: 15px 50px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__navigation{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__navigation-logo{
	font-size: 25px;
	line-height: 24px;
	font-weight: 400;
	text-decoration: none;
	color: white;
}

.header__navigation-btns{
	display: flex;
	gap: 80px;
	align-items: center;
}

.header__navigation-btn-home{
	text-decoration: none;
	color: white;
	font-size: 18px;
}

.header__navigation-btn-home:hover{
	opacity: 0.8;
}

.header__navigation-btn-signin{
	display: flex;
	gap: 5px;
	align-items: center;
	padding: 12px 50px;
	border-radius: 100px;
	border: 1px solid #fff;
	cursor: pointer;
	background-color: transparent;
	color: white;
	font-size: 16px;
	transition: 0.1s;
}

.header__navigation-btn-signin:hover{
	background-color: #fff;
	opacity: 0.8;
	color: #000;
}

/* Menu mobile styles */
.header__menu-mobile-icon {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 20px;
	z-index: 99;
}

.header__menu-mobile-icon .line {
    width: 30px;
    height: 3px;
    background: #fff;
    margin: 4px 0;
    transition: 0.3s;
    border-radius: 2px;
}

.header__menu-mobile-icon.active .line:nth-child(1) {
    transform: rotate(-45deg) translate(-3px,4px);
}

.header__menu-mobile-icon.active .line:nth-child(2) {
    transform: rotate(45deg) translate(-2px,-4px);
}

.header__menu-mobile-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 30vh;
    background: #1A1B22;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    gap: 20px;
}

.header__navigation__mobile-logo{
	position: absolute;
	top: 30px;
	left: 50px;
	font-size: 25px;
	line-height: 24px;
	font-weight: 400;
	text-decoration: none;
	color: white;
}

.header__navigation-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 45px;
	width: 85%;
}

.header__menu-mobile-panel .header__navigation-btn-home{
    color: #fff;
    font-size: 22px;
    background: none;
    border: none;
    padding: 12px 0;
}

.header__menu-mobile-panel .header__navigation-btn-signin {
	color: #fff;
	font-size: 22px;
	background: none;
	width: 80%;
	border: 1px solid #fff;
	display: flex;
	justify-content: center;
}

.header__menu-mobile-panel .header__navigation-btn-signin img {
    width: 22px;
    margin-left: 10px;
}

@media screen and (max-width: 800px) {
    .header__navigation-btns {
        display: none;
    }
    .header__menu-mobile-icon {
        display: flex;
    }
}